<div>
  <p>hi - migrate me</p>
  <p>hi - migrate me</p>
  <p>hi - migrate me</p>
  <p>hi - migrate me</p><p>hi - migrate me</p>
  <p>hi - migrate me</p><p>hi - migrate me</p>
  <p>hi - migrate me</p><p>hi - migrate me</p>
  <p>hi - migrate me</p><p>hi - migrate me</p>
  <p>hi - migrate me</p><p>hi - migrate me</p>
  <p>hi - migrate me</p>
</div>
<NonMigrateableComponent />