<div class='home-container'>
  <PartiallyMigrateableComponent />
  <Title />
  <Instruction @username='Jack' />
  <SignContainer />
  <SignButton />
  <AnotherDifferentSignContainer />
  <SignButton />
</div>